@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Pacifico&family=Teko:wght@300&family=Meddon&family=Protest+Revolution&display=swap');


* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Background Styles */
html, body {
  background-color: var(--bg-gray); /* Use the custom variable for background color */
  height: 100%;
}

/* Body Structure */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
}